# Dependencies
node_modules/

# Capacitor / Android / iOS build artifacts
dist/
android/
ios/

# Gradle / Android Studio
.gradle/
build/
local.properties
*.iml
.idea/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
